body {
  padding-top: 3rem;
  padding-bottom: 0;
  color: #5a5a5a;
}

main {
  margin-top: 28px;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

h1 {
  font-weight: 300;
}

.marginB5rem {
  margin-bottom: 5rem;
}

.jumbotron.contact {
  padding-top: 0;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.navbar .languageFlag img {
  height: 20px;
}

.navbar-brand img {
  height: 50px;
}

.contact p a {
  text-decoration: none;
  color: #5a5a5a;
  font-weight: bold;
}

.gallery-section .gallery a img {
  float: left;
  width: 25%;
  height: auto;
  border: 2px solid #fff;
  -webkit-transition: -webkit-transform .15s ease;
  -moz-transition: -moz-transform .15s ease;
  -o-transition: -o-transform .15s ease;
  -ms-transition: -ms-transform .15s ease;
  transition: transform .15s ease;
  position: relative;
}

.clear {
  clear: both;
}
.carousel {
  margin-bottom: 4rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  height: 32rem;
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center;
}

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


.featurette-divider {
  margin: 5rem 0;
}

.featurette-heading {
  font-weight: 400;
  line-height: 1;
  letter-spacing: -.05rem;
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}


@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}



@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}



